:root {
  --blue:  #273fad96;
  --purple: #5f27cd;
  --green: #3fad27d2;
  --red: 	#ad273f96;
  --background: #EBEBEB;
  --background2: #eeeeeeb2;
  --shapes: #FFFFFF;
  --text-title: #3D3D4D; 
  --text: #1C1C29;
  --text-light: #A09CB1;

  background: var(--background2);
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}