section.task-list {
  background: var(--shapes);
  border-radius: 1rem;
  
  margin-top: -10rem;
  padding: 70px 60px;
  
  box-shadow: 1px 11px 25px var(--blue);

  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));
  


  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--text-title);
      font-size: 2.55rem;
    }

    .input-group {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      background: #fff;
      font-size: 14px;
      
      input {
        flex: 1;
        background: var(--background);
        border: 0;
        color: var(--text);
        padding: 12px 24px;    
        border-radius: 8px;
        border: 0;
        
        &::placeholder {
          color: var(--text-light)
        }
      }

      button {
        font-weight: 600;
        border-radius: 8px;
        border: 0;
        background: var(--purple);
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 14px;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(1.3);
          
        }
      }
    }

    

  }

  main {
    margin-top: 3rem;

    .input-trash-group{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #fff;       
      gap: 1rem;

      div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {          
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: var(--red);
          color: var(--text-title);
          border: 0;
          border-color: transparent;
          border-radius: 8px;
          padding: 8px;
          margin-left: 5px;
          
          &:hover{
            filter: brightness(1.5)
          }
          svg {      
            color: whitesmoke;
          }
  
          &:hover {
              svg {
                filter: brightness(0.5)
              }
            }
          
        }
        span {
          color: var(--text-light);
        }
      }

    }
    ul {
      list-style: none;
      
      li {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EBEBEB;
        padding: 1rem 0;
        div {
          display: flex;
          align-items: center;
          gap: 14px;
          outline: 0;

          p {
            font-size: 1rem;
            color: var(--text);
          }

          &.completed {
            p {
              text-decoration:line-through;
              opacity: 0.6;
            }
          }
          
          .checkbox-container {
            display: block;
            position: relative;
            padding-left: 14px;
            margin-bottom: 18px;
          
            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;

              &:checked {
                & ~ .checkmark {
                  background-color: var(--green);
                }

                & ~ .checkmark:after {
                  display: block;
                }
              } 
            }
          
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              width: 16px;
              height: 16px;
              background-color: var(--background);
              border-radius: 2px;
          
              &:after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 3px;
                width: 3px;
                height: 6px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
              }
            }
          }
        }

        button {
          background: transparent;
          border: 0;

          svg {
            color: var(--red);
          }

          &:hover {
            svg {
              filter: brightness(0.5)
            }
          }
        }
      }
    } 
  }
}